
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">

    <a class="page-link" href="{{site.url}}{{site.baseurl}}">Home</a><span class="exclamationMark">/</span>

    <a class="page-link" href="{{site.url}}/about-me/">About Me</a><span class="exclamationMark">/</span>

    <a class="page-link" href="{{site.url}}/projects/">Projects</a><span class="exclamationMark">/</span>

    <a class="page-link" href="{{site.url}}/blog/">Blog</a><span class="exclamationMark">/</span>

    <a class="page-link" href="/files/resume.pdf">Résumé</a>

  </div>
</div>
